@import 'common.css';
@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-bgPrimary text-[16px] text-primary;
        &.is-changing .swup-transition-main {
            @apply opacity-100 transition-opacity;
        }
        &.is-animating .swup-transition-main {
            @apply opacity-0;
        }
    }
    body {
        @apply flex min-h-screen flex-col font-sans leading-normal tracking-normal underline-offset-[0.15em];
    }
    footer {
        @apply mt-auto;
    }
    a,
    u,
    .underline {
        @apply decoration-1;
    }
    figcaption {
        @apply mt-2 text-3;
    }
}

@layer components {
    .body {
        /* Global */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        li {
            @apply my-[1em] first:mt-0 last:mb-0;
        }
        table,
        blockquote,
        hr {
            @apply my-[3em] first:mt-0 last:mb-0;
        }

        /* Heading */
        h1 {
            @apply text-9;
        }
        h2 {
            @apply text-6;
        }
        h3 {
            @apply text-5;
        }
        h4,
        h5,
        h6 {
            @apply text-4;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mt-[2em] font-bold;
        }

        /* List */
        ul,
        ol {
            @apply pl-[1.75em];
        }
        ul {
            @apply list-disc;
        }
        ol {
            @apply list-decimal;
        }
        li {
            @apply pl-[0.25em];
        }
        ::marker {
            @apply text-secondary;
        }

        /* Other */
        a {
            @apply text-accent underline hover:no-underline;
        }
        hr {
            @apply border-t border-borderPrimary;
        }
        blockquote {
            @apply ml-[0.5em] border-l-[0.25em] border-borderPrimary pl-[1.25em];
        }

        /* Table */
        table {
            @apply w-full table-auto text-left text-3.5;
        }
        thead,
        tbody tr:not(:last-child) {
            @apply border-b border-b-borderPrimary;
        }
        thead {
            @apply font-bold;
        }
        th,
        td {
            @apply p-[0.75em] align-baseline;
        }
        th {
            @apply pt-0;
        }
        th:first-child,
        td:first-child {
            @apply pl-0;
        }
        th:last-child,
        td:last-child {
            @apply pr-0;
        }
        tr:last-child td {
            @apply pb-0;
        }
    }
}
