html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    @apply break-words;
}

body {
    @apply antialiased min-w-[320px] min-h-screen;
}

img {
    @apply text-[0px];
}

button {
    @apply touch-manipulation;
}

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

option {
    @apply bg-white text-black;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}


[x-cloak] {
    display: none !important;
}

.debug {
    *,
    *:before,
    *:after {
        @apply outline outline-[#00f] !important;
    }
}
