@import url(https://fonts.bunny.net/css?family=inter:400,600);

/* @font-face {
    font-family: '<font-name>';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/<font-name>-regular.woff2');
    font-display: auto;
} */
